@import url('https://fonts.googleapis.com/css?family=Spectral+SC');

*  {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 980px;
  margin: auto;
  display: flex;
  padding: .5em;
  flex-wrap: wrap;
}

.vertical {
  flex-direction: column;
}

hello-world {
  overflow: hidden;
  flex: 1 15em;
  margin: 0.5em;
}

hello-world :host-element {
  font-family: 'Spectral SC', serif;
}

.float-left {
  float: left;
  margin: 0 1em 1em 0;
  width: 33%;
}